MONGODB_URI= Write Your MongoDb_URI
ACCESS_TOKEN_SECRET= Write your Access Token
ACCESS_TOKEN_EXPIRY= Write Access Token Expiry date

REFRESH_TOKEN_SECRET= Write Refresh Token
REFRESH_TOKEN_EXPIRY= Write Refresh Token Expiry date

CLOUDINARY_CLOUD_NAME= Write Your Cloudinary Name
CLOUDINARY_API_KEY= Write your cloudinary api_key
CLOUDINARY_API_SECRET= Write Your cloudinary api_secret